.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding-top: 30px;
    transition: 0.8s;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s;
}

.btn-success {
    background-color: $c1;
    border-radius: 60px;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    border: none;
    padding: 12px 23px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    transition: 0.5s;

}

.btn-success:hover {
    background-color: antiquewhite;
    border: none;
    color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: $c1;
    background-color: transparent;
    font-weight: 800;
}

.top-nav-collapse {
    background-color: $c2;
    padding-top:  10px;
    box-shadow: 1px 1px 2px $c3;
}

.top-nav-collapse a {
    color: #000 !important;
}
.top-nav-collapse  .active a
{
    color: $c1 !important;
}