.view-service {
    background-color: $c2;
}
.view-service p {
    font-size: 20px;
    font-weight: 100;
    color: $c3;
    padding-top: 20px;
    line-height: 40px;
}

.view-service h1 {
    line-height: 50px;
    font-weight: 500;
}
